<div class="row align-items-center justify-content-center">
	<div class = "col-xs-12 col-sm 10 col-md-3" style = "text-align:center;">
		<form class="form-filter" (ngSubmit) = "applyFilter(form)" #form = "ngForm">
			<h1 class="h3 mb-3 font-weight-normal">ORDERING FILTER</h1>
		    <div class = "row" style = "margin-bottom:20px;">
				<div class="col-lg-12">
					<div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" id="buildingsRadio" name="optionRadios" class="custom-control-input" checked (click) = "toggleMode()">
					  <label class="custom-control-label" for="buildingsRadio">Buildings</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" id="businessRadio" name="optionRadios" class="custom-control-input" (click) = "toggleMode()">
					  <label class="custom-control-label" for="businessRadio">Business</label>
					</div>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
				<div class="col-lg-12">
					<select class="custom-select mr-sm-2" id="projectsDD" (change)="projectChange(projectsDD.value)" #projectsDD ngModel name = "projectID">
				    	<option value = '' selected disabled>Select a Project</option>
				    	<option *ngFor = "let project of projects.projects" value = "{{ project.projectID }}" [selected]="project.projectID === projectID">{{ project.projectName }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
				<div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="townshipsDD" (change)="townshipChange(townshipsDD.value)" #townshipsDD ngModel name = "townshipID">
				    	<option value = '' selected>Select a Township</option>
				    	<option value = '' selected>None</option>
				    	<option *ngFor = "let township of townships.townships" value = "{{ township.townshipID }}" [selected]="township.townshipID === townshipID">{{ township.name }}{{ townshipID }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
			    <div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="ervenDD" (change)="erfChange(ervenDD.value)" #ervenDD ngModel name = "erfID">
				    	<option value = '' selected>Select an Erf</option>
				    	<option value = '' selected>None</option>
				    	<option *ngFor = "let erf of erven.erven" value = "{{ erf.erfID }}" [selected]="erf.erfID === erfID">{{ erf.name }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
			    <div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="PUADD" (change)="PUAChange(puaDD.value)" #puaDD ngModel name = "PUAID">
				    	<option value = '' selected>Select a Private Use Area</option>
				    	<option value = '' selected>None</option>
				    	<option *ngFor = "let PUA of privateUseAreas.privateUseAreas" value = "{{ PUA.PUAID }}" [selected]="PUA.PUAID === PUAID">{{ PUA.name }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
			    <div class="col-lg-12">
					<select class="custom-select mr-sm-2" id="buildingsDD" multiple (change)="buildingChange(buildingsDD.value)" #buildingsDD ngModel name = "buildingID">
				    	<option value = '' selected>Select a Building</option>
				    	<option value = '' selected>None</option>
				    	<option *ngFor = "let building of buildings.buildings" value = "{{ building.buildingID }}" [selected]="building.buildingID === buildingID">{{ building.name }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
			    <div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="zoningsDD" ngModel name = "zoningID">
				    	<option value = '' selected>Select a Zoning</option>
				    	<option value = '' selected>None</option>
				    	<option *ngFor = "let zoning of zonings.zonings" value = "{{ zoning.zoningID }}" [selected]="zoning.zoningID === zoningID">{{ zoning.name }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
			    <div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="contractorsDD" ngModel name = "contractorID">
				    	<option value = '' selected>Select a Contractor</option>
				    	<option value = '' selected>None</option>
				    	<option *ngFor = "let contractor of contractors.contractors" value = "{{ contractor.contractorID }}" [selected]="contractor.contractorID === contractorID">{{ contractor.name }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
			    <div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="materialListTypeDD" ngModel name = "materialListType">
				    	<option value = ''>Select a Material List Type</option>
				    	<option value = 'combined' >Combined Material List</option>
				    	<option value = 'detailed'>Detailed Material List</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = buildingMode>
			    <div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="materialsDD" ngModel name = "materialID">
				    	<option value = '' selected>Select a Material</option>
				    	<option value = ''>None</option>
				    	<option *ngFor = "let material of materials.materials" value = "{{ material.materialID }}" [selected]="material.materialID === materialID">{{ material.description }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;" *ngIf = !buildingMode>
			    <div class="col-lg-12">
				    <select class="custom-select mr-sm-2" id="departmentsDD" ngModel name = "departmentID">
				    	<option value = '' selected>Select a Department</option>
				    	<option *ngFor = "let department of departments.departments" value = "{{ department.departmentID }}" [selected]="department.departmentID === departmentID">{{ department.name }}</option>
				    </select>
				</div>
			</div>
			<div class = "row" style = "margin-bottom:20px;">
			    <div class="col-lg-12">
				    <button class="btn btn-lg btn-primary btn-block" type="submit">Load Material List</button>
				</div>
			</div>
		</form>
	</div>
</div>
