<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!buildingTypologiesLoaded" style = "padding:10px;">
	<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
	</div>
</div> 

 
<div class="row" style = "padding:5px" *ngIf="buildingTypologiesLoaded" >
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
		<button class = "btn btn-primary btn-sm btn-block" (click) = 'buildingTypologiesEdit(buildingTypologies.typologyID)'>EDIT</button> 
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
		<button class = "btn btn-danger btn-sm btn-block" (click) = 'buildingTypologiesDelete(buildingTypologies.typologyID)'>DELETE</button> 
	</div>	
</div>

<div *ngIf="buildingTypologiesLoaded" >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="noBuildingTypologies" style = "padding-top:10px;">
		<div class="alert alert-danger" role="alert">
			<strong>No Building Typology:</strong> There are no Building Typology details loaded at this time. 
		</div>
	</div>
	
	<main role="main" class="container">
		<div class="media text-muted pt-3 order">
			<div class="mr-2 rounded" style="width: 32px; height: 32px;"></div>
			<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				<strong class="d-block text-gray-dark">{{ buildingTypologies.name }}</strong>
			</p>
		</div>
	</main>
	
</div>
