<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!contractsLoaded" style = "padding:10px;">
	<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
	</div>
</div> 
<div class="row" style = "padding:5px" *ngIf="contractsLoaded">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<button class = "btn btn-primary btn-sm btn-block" (click) = 'addContract()'>ADD</button>
	</div>
</div>
<div *ngIf="contractsLoaded">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="noContracts" style = "padding-top:10px;">
		<div class="alert alert-danger" role="alert">
		  <strong>No Contracts:</strong> There are no contracts to process at this time. Check again later.
		</div>
	</div>
	
	<main role="main" class="container">
		<div class="media text-muted pt-3 order" (click) = "loadDetailed(contract.contractID)" *ngFor="let contract of contracts.contracts">
			<div class="mr-2 rounded" style="width: 32px; height: 32px; background-color: purple;" *ngIf = "contract.contractID !== ''"></div>
			<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				<strong class="d-block text-gray-dark">{{ contract.contractID }}</strong>
			</p>
		</div>
	</main>
</div>