<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="noOrders" style = "padding-top:10px;">
	<div class="alert alert-danger" role="alert">
	  <strong>No Orders:</strong> There are no orders to process at this time. Check again later.
	</div>
</div>
<div class="row" style = "padding-top:10px" *ngIf = "chartDataLoaded && !noOrders">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h4 class ="text-center">ORDER SUMMARY</h4>
		<div style="display: block">
		  <canvas baseChart 
		              [data]="overallOrders"
		              [labels]="overallOrdersLabel"
		              [chartType]="doughnutChartType"
		              [colors]="overallOrdersColors"
		              (chartHover)="chartHovered($event)"></canvas>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style = "cursor:pointer;" (click) = 'loadInternal()'>
		<h4 class ="text-center">INTERNAL ORDER SUMMARY</h4>
		<div style="display: block">
		  <canvas baseChart 
		              [data]="internalOrders"
		              [labels]="internalOrdersLabel"
		              [chartType]="doughnutChartType"
		              [colors]="internalOrdersColors"
		              (chartHover)="chartHovered($event)"></canvas>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style = "cursor:pointer;" (click) = 'loadExternal()'>
		<h4 class ="text-center">EXTERNAL ORDER SUMMARY</h4>
		<div style="display: block">
		  <canvas baseChart 
		              [data]="externalOrders"
		              [labels]="externalOrdersLabel"
		              [chartType]="doughnutChartType"
		              [colors]="externalOrdersColors"
		              (chartHover)="chartHovered($event)"></canvas>
		</div>
	</div>
</div>
<div class="row" style = "padding-top:10px" *ngIf = "chartDataLoaded && !noOrders" style = "cursor:pointer;" (click) = 'loadDeliveries()'>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h4 class ="text-center">DELIVERIES</h4>
		<div style="display: block">
		  <canvas baseChart 
		              [data]="deliveries"
		              [labels]="deliveriesLabel"
		              [chartType]="doughnutChartType"
		              [colors]="deliveriesOrdersColors"
		              (chartHover)="chartHovered($event)"></canvas>
		</div>
	</div>
</div>