<form class="form-filter" [formGroup]="ordersForm" (ngSubmit)="placeOrder()">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<select class="custom-select mr-sm-2" formControlName="deliveryAddressID">
			    	<option value = 'instruction' hidden>Select a Delivery Address</option>
			    	<option *ngFor = "let deliveryAddress of addresses.deliveryAddresses" value = "{{ deliveryAddress.deliveryAddressID }}">{{ deliveryAddress.address }}</option>
			    </select>
			</div>
			<div class="col-sm"></div>
			<div class="col-sm"><button class = "btn btn-primary btn-sm btn-block">PLACE ORDER</button></div>
		</div>
	</div>
	<div class="row align-items-center justify-content-center" formArrayName="orderItem">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col"><input type="checkbox" aria-label="Checkbox for following text input" style = "height:25px;width:25px;" (click) = "checkToggle()"></th>
			      <th scope="col">Description</th>
			      <th scope="col">Group</th>
			      <th scope="col">Category</th>
			      <th scope="col">Quantity To Order</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr  *ngFor="let OrderItemControl of ordersForm.get('orderItem').controls; let i = index" [formGroupName]="i" >
			      <td scope="row"><input type="checkbox" (click) = "onOrderCheck(i)" aria-label="Select to Order" style = "height:25px;width:25px;" checked = "{{ checked }}" formControlName="status"></td>
			      <td>{{ OrderItemControl.value.description }}</td>
			      <td>{{ OrderItemControl.value.group }}</td>
			      <td>{{ OrderItemControl.value.category }}</td>
			      <td>
			      	<div class="input-group input-group-sm mb-3" >
						<div class="input-group-prepend">
					    	<span class="input-group-text" id="inputGroup-sizing-sm">QTY</span>
					  	</div>
					  	<input 
					  		type="number"
					  		class="form-control"
					  		aria-label="Small"
					  		aria-describedby="inputGroup-sizing-sm"
					  		min="0"
					  		formControlName="quantityOrdered">
					  	<input 
					  		type="text"
					  		formControlName="departmentID" hidden>
					  	<input 
					  		type="text"
					  		formControlName="productID" hidden>
					</div>
				  </td>
				  
			    </tr>
			  </tbody>
			</table>
			
		</div>
	</div>
</form>