.right {
  float: right;
}

.btn-white-blue {
    background-color: #FFFFFF;
    color: #182853;
    border-color: #FFFFFF;
}

.btn-white-blue:hover {
    background-color: #182853;
    color: #FFFFFF;
    border-color: #182853;
}

.btn-white-blue:focus {
    background-color: #182853;
    color: #FFFFFF;
    border-color: #182853;
}


.btn-white-blue:active {
    background-color: #FFFFFF;
    color: #182853;
    border-color: #FFFFFF;
}