<nav class="navbar navbar-default">
	<!-- NavBar Section 1 -->
	<div class="container-fluid" style="text-align:right;padding:0px;">
		<div class="col-md-6" style = "padding:0px;">
		</div>
<!-- Breadcrumbs -->		
		<div class="col-md-4" style = "padding:0px;"> 
			<div>{{ breadcrumb }}</div> 
		</div>
<!-- User -->		
		<div class="col-sm-12 col-md-2" style = "padding:0px;">
			<div>{{ userName }}<br><strong>(CIS V4.0.0)</strong></div> 
		</div>
	</div>
	
	
	<!-- NavBar Section 2 -->
	<div class="container-fluid" style="padding:10px">
		<div class="col-md-3" style = "padding:0px;">
			<div>
				<img id = "logo" [src]="logo"/>
			</div>
		</div>  
		<div class="col-md-7">
		</div>
		<div class="col-md-2" style = "padding:0px;">
	    	<div class="thumbnail">
				<img id = "slogan" [src]="slogan" alt="Slogan"> 
			</div>
		</div>
    </div>
</nav>

<!-- NavBar Section 3 -->		
<nav class="navbar navbar-expand-md navbar-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item navbar-right" *ngFor = "let menuGroup of menuGroups" style = "cursor:pointer;">
				<a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menuGroup.name }}</a>
				<div class="dropdown-menu" style = "right:auto;left:auto;">
					<a class="dropdown-item"  *ngFor = "let menu of menuGroup.menus" routerLink = "{{ menu.route }}">{{ menu.name }}</a>
				</div>
			</li>
			<li class="nav-item navbar-right" style = "cursor:pointer;">
				<a class="nav-link" aria-haspopup="true" aria-expanded="false" (click) = "logout()">Logout</a>
			</li>
		</ul>
	</div>  
</nav>
<br>