
<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf = "authService.isAuthenticated()">
	<a class="navbar-brand" href="#">Calgro M3</a>   // Logo
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarsExample04">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink = "/admin">Home <span class="sr-only">(current)</span></a>
		  	</li>
		  	<li class="nav-item navbar-right" *ngFor = "let menuGroup of menuGroups" appDropdown style = "cursor:pointer;">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menuGroup.name }}</a>
				<div class="dropdown-menu" style = "right:auto;left:auto;">
					<a class="dropdown-item"  *ngFor = "let menu of menuGroup.menus" routerLink = "{{ menu.route }}">{{ menu.name }}</a>
				</div>
		  	</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink = "/filter">Filter</a>
		  	</li>
		  	<li class="nav-item navbar-right">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logout</a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
					<a class="dropdown-item" href="#">Action</a>
				  	<a class="dropdown-item" href="#">Another action</a>
				  	<a class="dropdown-item" href="#">Something else here</a>
				</div>
		  	</li>
		</ul>
	</div>
</nav>
<!-- <header id="t3-header" class="container t3-header">
	<div class="row">
	<div class="col-xs-12">
     
  	<a class="top-info" href="mailto:CalRefer@bizextend.co.za">LOGOUT
   </a>
    <p class="top-info">Dominique Cooper</p> 
    <p class="top-info">Fleurhof/Extension 22</p> 
    </div>
    </div>
    <div class="row">
		
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-8 logo">
			<div class="logo-image">
				<a href="http://www.nowselling.calgrom3.com/" title="Calgro M3 Now Selling">
											<img class="logo-img" src="/images/template/calgro-m3-logo.jpg" alt="Calgro M3 Now Selling">
															<span>Calgro M3 Now Selling</span>
				</a>
				<small class="site-slogan"></small>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <div id="tagline"><p class="text-right"><img src="/images/template/calgro-tagline.jpg"></p></div>
                					
					<div class="head-search  hidden-sm hidden-xs">
						<div class="search">
	
</div>

					</div>
					
								<nav id="t3-mainnav" class="navbar navbar-default t3-mainnav">
                
                       
                        <div class="navbar-header">
                        
                                                                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".t3-navbar-collapse">
                                    <i class="fa fa-bars"></i>
                                </button>
                                            
                        </div>
                
                                                    <div class="t3-navbar-collapse navbar-collapse collapse"><ul itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" class="nav navbar-nav level0">
<li itemprop="name" class="current active">
<a itemprop="url" href="/index.php">Home </a>

</li>
<li itemprop="name" class="dropdown">
<a itemprop="url" href="/index.php/now-selling" data-toggle="dropdown" data-target="#">Now selling <em class="caret"></em></a>


<ul class="level1 dropdown-menu"><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/gauteng">Gauteng </a>

</li><li itemprop="name">
<span> Fleurhof</span>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/unyezi-ridge">Unyezi Ridge </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/kwalenga-crest">Kwelanga Crest </a>

</li><li itemprop="name">
<span> South Hills</span>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/paper-bark">Paperbark </a>

</li><li itemprop="name">
<span> Witpoortjie</span>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/witpoortjie-ext-64">Witpoortjie Ext 64 </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/witpoortjie-ext-65">Witpoortjie Ext 65 </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/western-cape">Western Cape </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/eden-heights">Eden Heights </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/now-selling/free-state">Free State </a>

</li></ul></li>
<li itemprop="name" class="dropdown">
<a itemprop="url" href="/index.php/responsible-home-ownership" data-toggle="dropdown" data-target="#">Responsible home ownership <em class="caret"></em></a>


<ul class="level1 dropdown-menu"><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/why-buy-directly-from-calgro-m3">Why buy directly from Calgro M3? </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/why-ownership-is-a-winner">Why ownership is a winner? </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/buying-an-apartment-made-easy">Buying an apartment made easy </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/buying-a-house-made-easy">Buying a house made easy </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/benefits-from-home-ownership">Benefits from home ownership </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/should-i-pay-off-my-house-sooner">Should I pay off my house sooner? </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/what-is-a-mortgage-loan">What is a mortgage loan? </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/costs-involved-in-buying-a-house">Costs involved in buying a home </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/inspections-handover-and-occupation">Inspections, handover and occupation </a>

</li><li itemprop="name">
<a itemprop="url" href="/index.php/responsible-home-ownership/types-of-guarantees-and-obligations">Types of guarantees and obligations </a>

</li></ul></li>
<li itemprop="name">
<a itemprop="url" href="/index.php/financial-affordability-test">Financial affordability test </a>

</li>
<li itemprop="name">
<a itemprop="url" href="/index.php/contact-us">Contact us </a>

</li>
</ul></div>
                                        
 <!--                        <div class="t3-navbar navbar-collapse collapse">
                            <div class="t3-megamenu" data-responsive="true">
<ul itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" class="nav navbar-nav level0">

    <li itemprop="name" class="current " data-id="101" data-level="1">
<a itemprop="url" class="" href="/index.php" data-target="#">Project Information </a>

</li>
    <li itemprop="name" class="current " data-id="101" data-level="1">
<a itemprop="url" class="" href="/index.php" data-target="#">Procurement </a>

</li>
    <li itemprop="name" class="current " data-id="101" data-level="1">
<a itemprop="url" class="" href="/index.php" data-target="#">Hub </a>

</li><li itemprop="name" class="current " data-id="101" data-level="1">
<a itemprop="url" class="" href="/index.php" data-target="#">Documents </a>

</li>
<li itemprop="name" class="dropdown mega mega-align-center" data-id="114" data-level="1" data-alignsub="center">
<a itemprop="url" class=" dropdown-toggle" href="/index.php/now-selling" data-target="#" data-toggle="dropdown" aria-expanded="false">Administration <em class="caret"></em></a>

<div class="nav-child dropdown-menu mega-dropdown-menu" style="width: 400px;" data-width="400"><div class="mega-dropdown-inner">
<div class="row">
<div class="col-xs-12 mega-col-nav" data-width="12"><div class="mega-inner">
<ul itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" class="mega-nav level1">
<li itemprop="name" data-id="130" data-level="2">
<a itemprop="url" class=" gauteng-menu" href="/index.php/now-selling/gauteng" data-target="#">Gauteng </a>

</li>
    </ul>
</div></div></div></div></div></li></ul>
</div>

                        </div>
                
                    
                </nav>
			</div>

	</div>
</header>-->