<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!contractorLoaded" style = "padding:10px;">
	<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
	</div>
</div> 

 
<div class="row" style = "padding:5px" *ngIf="contractorLoaded" >
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<!-- DEV WIP
			<button class = "btn btn-primary btn-sm btn-block" (click) = 'contractorAdd()'>ADD</button> 
		-->
		<button class = "btn btn-primary btn-sm btn-block" >EDIT</button>
	</div>
</div>

<div *ngIf="contractorLoaded" >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="noContractor" style = "padding-top:10px;">
		<div class="alert alert-danger" role="alert">
			<strong>No contractor:</strong> There are no contractor details loaded at this time. 
		</div>
	</div>
	
	<main role="main" class="container">
		<div class="media text-muted pt-3 order">
			<div class="mr-2 rounded" style="width: 32px; height: 32px;"></div>
			<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				<strong class="d-block text-gray-dark">{{ contractor.name }}</strong>
			</p>
		</div>
	</main>
	
</div>

